
/*==========BEGIN universals==========*/

*
{
	padding-right: 0.5em;
    padding-left: 0.5em;
    background-color: rgb(240, 240, 240);
}
ul *
{
    list-style-type: none;
}
a:link
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
a:visited
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    color: #821121;
    text-decoration: none;
    cursor: pointer;
}
a:active
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
body
{
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}
#content
{
	float: left;
	margin-right: auto;
	margin-left: auto;
	width: 1024px;
}
#container
{
	width: 1024px;
}

/*==========END universals==========*/

/*==========BEGIN mainheader and mainNav===========*/

#mainHeader_mainNav
{
  	-webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;
}
#mainHeader
{
	display: inline;
	float: left;
	padding: 0.25em;
	margin: 0.25em;
}

#mainHeader h1
{
	font-family: 'Butcherman', serif;
	font-size: 150%;
	padding: 0.25em;
	margin: 0.25em;
}

#mainNav
{
	display: inline;
	float: right;
	padding: 0.25em;
	margin: 0.25em;
}
#mainNav li
{
	display: inline;
	font-family: 'Raleway', serif;
	font-size: 75%;
	padding: 0.25em;
	margin: 0.25em;
}
#footer p
{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 75%;
}

/*==========END mainHeader and mainNav===========*/

/*==========BEGIN llamaCopy===========*/


/*==========END llamaCopy===========*/

/*==========BEGIN Llama canvases==========*/

.llamaSlide
{
	display: none;
}

/*==========END Llama canvases==========*/