
/*==========BEGIN universals==========*/

*
{
    background-color: rgb(240, 240, 240);
}
ul *
{
    list-style-type: none;
}
a:link
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
a:visited
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
a:hover
{
    color: #821121;
    text-decoration: none;
    cursor: pointer;
}
a:active
{
    color: #BD3548;
    text-decoration: none;
    cursor: pointer;
}
#container
{
	width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

/*==========END universals==========*/

/*==========BEGIN mainheader and mainNav===========*/

#mainHeader_mainNav
{
  	-webkit-box-shadow: 0 8px 6px -6px gray;
    -moz-box-shadow: 0 8px 6px -6px gray;
    box-shadow: 0 8px 6px -6px gray;
}
#mainHeader
{
	display: inline;
	float: left;
	padding: 0.25em;
	margin: 0.25em;
}

#mainHeader h1
{
	font-family: 'Creepster', serif;
	font-size: 150%;
	padding: 0.25em;
	padding-right: 1em;
	margin: 0.25em;
    color: #821121;
}

#mainNav
{
	display: inline;
	margin: 0.25em;
}
#mainNav li
{
	display: inline;
	font-family: 'Raleway', serif;
	font-size: 75%;
	padding: 1em;
	margin: 0.25em;
}

/*==========END mainheader and mainNav===========*/

/*==========BEGIN footer===========*/

#footer p
{
	font-family: 'Raleway', sans-serif;
	font-size: 75%;
}
#nextSlideFooter
{
	float: right;
}
#previousSlideFooter
{
	float: left;
}


/*==========END footer===========*/

/*==========BEGIN llamaCopySlide===========*/

#copyTextBubble
{
	position: relative; /* keeps the text bubble and it's triangle alligned */
}
#llamaCopySlide
{
    text-align: justify;
    font-family: 'Special Elite', sans-serif;

    border: 3px solid black;
	-moz-border-radius:    10px;
   	-webkit-border-radius: 10px;
   	border-radius:         10px;
   	margin: 30px;
   	padding: 0.75em;
}
#textBubbleTriangle
{
	position: absolute; /* overlay over the copy bubble */ 
	bottom: 10px;
	left: 5px;

	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-right: 25px solid black;
	border-bottom: 15px solid transparent;
}

/*==========END LlamaCopySlide===========*/
