{% extends 'base.html' %}

{% block content %}
	<section id = 'contact'>
		<p>JJ Naughton is a Plebeian-Level (PL1) human writing this at the request of his llama <strike>overlords</strike> friends.</p>
		<p>Though formerly a Computer Science student at the University of Pittsburgh, this and other titles are meaningless now in the new world order.</p>
		<p>If you'd like to catch a glimpse of his former life, resum&#233, and other project examples, you can visit him at: <a href = 'http://www.jjnaughton.me' target='_blank'>his personal site</a></p>
	</section>
{% endblock %}