<nav = 'mainNavBar'>
 	<ul>
		<li><a id = 'navSlide0' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Introduction</a></li>
		<li><a id = 'navSlide1' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide1</a></li>
		<li><a id = 'navSlide2' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide2</a></li>
		<li><a id = 'navSlide3' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide3</a></li>
		<li><a id = 'navSlide4' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide4</a></li>
		<li><a id = 'navSlide5' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide5</a></li>
		<li><a id = 'navSlide6' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide6</a></li>
		<li><a id = 'navSlide7' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide7</a></li>
		<li><a id = 'navSlide8' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide8</a></li>
		<li><a id = 'navSlide9' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide9</a></li>
		<li><a id = 'navSlide10' onclick = 'linkDrawLlamaSlide(this.id.match(/\d+/)[0])' href = '#'>Slide10</a></li>

	<!--commenting out for now...:
		<li><a href = '#'>Software Engineering project</a></li>
	-->
	</ul>
</nav>
